#AuthType Basic
#AuthName "Private zone. Only for administrator!"
#AuthUserFile  /var/www/vhosts/korovo.com/httpdocs/korovo.com/public/.htpasswd
#require valid-user
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{THE_REQUEST} ^.*/index\.php
    RewriteRule ^index.php(.*)$ /$1 [R=301,L]
    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
